body {
    font-style: normal;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #eee;
}

#app * {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

.control {
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: white;
    border-radius: .6rem;
}

input.control {
    outline-offset: 0;
    height: 2rem;
    padding: .3rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

input.inline {
    background-color: #eee;
}

input.inline:read-only {
    color: #888;
}

textarea.control {
    outline-offset: 0;
    padding: .3rem 1rem;
    overflow: auto;
    resize: none;
}

.container {
    height: calc(49.999% - .15rem);
    width: 100%;
    position: relative;
    transition: height ease-in-out 0.3s, margin-bottom ease-in-out 0.3s;
    overflow: hidden;
    border-radius: .6rem;
    margin-bottom: .3rem;
}

.container:last-child {
    margin-bottom: 0;
}

.container.hide + .container {
    height: 100%;
}

.container.hide {
    height: 0 !important;
    margin-bottom: 0 !important;
}

.container > * {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.selected {
    background-color: #bbb;
    color: white;
}

.focused .selected {
    background-color: #2195f3;
}

.focused {
    box-shadow: 0 0 .3rem .1rem rgba(120,120,120,0.5);
}

.reloading .focused {
    box-shadow: none;
}

.reloading .focused .selected {
    background-color: #bbb;
}

.option {
    user-select: none;
    width: 100%;
    padding: .3rem 1rem;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: none;
}

.option.result {
    display: block;
}

.song .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.song .lyrics {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    color: #777;
    font-size: 80%;
}

.selected .lyrics {
    color: white;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.button {
    user-select: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, background-color 0.1s ease-in-out;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: #999;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    opacity: 0.5;
}

.button.text {
    width: unset;
    border-radius: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.button.small {
    font-size: 0.6rem;
    height: 1.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.button img {
    height: 1rem;
    transition: transform 0.3s ease-in-out;
}

.button:hover {
    opacity: 1;
}

.button:hover img {
    transform: rotate(45deg);
}

.button.active img {
    transform: rotate(180deg);
}

.button.active:hover img {
    transform: rotate(135deg);
}

.button:active {
    filter: brightness(0.9);
}

.button.still:hover img {
    transform: none;
}

.icon {
    top: unset;
    left: unset;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.icon:hover {
    opacity: 1;
}

#menu {
    margin-top: .3rem;
    position: relative;
    padding: 0 .3rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#menu .button {
    margin-left: .3rem;
}

#search {
    width: 20rem;
    min-width: 10rem;
    padding-right: 2rem;
    margin-right: .15rem;
    transition: opacity 0.3s ease-in-out;
}

#search:disabled {
    background-color: #f8f8f8;
}

#clear {
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
    padding: 0;
    margin-left: -1.65rem !important;
    background-image: url('../img/times-circle.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(0,0,0,0);
}

#search:placeholder-shown + #clear {
    visibility: hidden;
}

#reload {
    margin-left: .8rem !important;
}

#newBtn:hover img {
    transform: unset;
}

#hideUp.active {
    background-color: tomato;
}

#slidesBtn.active {
    background-color: dodgerblue;
}

#send {
    display: inline-block;
    position: relative;
}

#sendBtn {
    position: relative;
}

#sendBtn.success {
    background-color: #4CAF50;
}

#plURL {
    position: absolute;
    z-index: 100;
    top: 2.3rem;
    left: 0;
    box-shadow: 0 0 .3rem .1rem rgba(120,120,120,0.5);
}

#customjs {
    background-color: orange;
}

#customjs:hover img {
    transform: rotate(360deg);
}

#clock {
    position: absolute;
    right: .6rem;
    user-select: none;
    font-size: xx-large;
    color: #777;
}

#main {
    flex-grow: 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

#main > * {
    margin: .3rem;
}

#control {
    width: 20rem;
    margin-right: 0;
    transition: opacity 0.3s ease-in-out;
}

#control, #view {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
} 

#loading, #notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    font-size: xx-large;
    font-weight: 700;
    user-select: none;
    text-align: center;
}

#letter {
    position: absolute;
    opacity: 0;
    font-size: 300%;
    left: unset;
    top: unset;
    bottom: .25em;
    right: .5em;
    user-select: none;
    height: unset;
    width: unset;
    transition: opacity 0.3s ease-in-out;
}

#letter.scrolling {
    opacity: .1;
}

#songlist, #playlist, #live {
    overflow-y: auto;
    overflow-x: hidden;
}

#playlist .filter {
    padding: 0;
}

#playlist .playing {
    background-image: url('../img/play-circle.svg');
    background-position: 105% 50%;
    background-size: auto 150%;
    background-repeat: no-repeat;
}

#playlist .showing .lyrics {
    color: #4CAF50;
}

.focused #playlist .selected.showing .lyrics {
    color: #69e96d;
}

#bin {
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#trash {
    top: unset;
    left: 8.5rem;
    width: 3rem;
    height: 3rem;
    bottom: .6rem;
    opacity: 0.5;
    background-image: url('../img/trash-alt.svg');
    background-size: auto 80%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.1);
    border-radius: .3rem;
    transition: all 0.3s ease-in-out;
    filter: grayscale(100%);
}

#view {
    flex-grow: 1;
}

#view > div:first-child {
    flex-grow: 1;
}

#preview {
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#preview > * {
    transition: all 0.3s ease-in-out;
}

#preview > *:read-only {
    background-color: #f8f8f8;
    color: #666;
}

#pTitle {
    font-weight: 700;
    font-size: 120%;
    height: 2.4rem;
    border-radius: .6rem .6rem 0 0;
    border-bottom: 1px solid #eee;
}

#pLyrics {
    flex-grow: 1;
    font-size: inherit;
    border-radius: 0 0 .6rem .6rem;
}

#editInfo {
    background-image: url('../img/clipboard-list.svg');
    top: .35rem;
    right: .25rem;
    height: 1.5rem;
    width: 1.5rem;
}

#edit {
    background-image: url('../img/edit.svg');
    top: .35rem;
    right: 1.65rem;
    height: 1.5rem;
    width: 2rem;
}

#cancel {
    background-image: url('../img/times.svg');
    right: 3rem;
    bottom: .05em;
    width: 1.5rem;
    height: 2.1rem;
}

#save {
    background-image: url('../img/check.svg');
    right: .5rem;
    bottom: .2rem;
    width: 2rem;
    height: 2rem;
}

.focused #live .selected {
    background-color: #4CAF50;
}

.reloading .focused #live .selected {
    background-color: #bbb;
}

#slidesSettings {
    height: 100%;
}

#slidesBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: white;
}

#slidesFolderPathBox {
    flex-grow: 1;
    margin: 0 0.5rem;
    position: relative;
    border-radius: .6rem;
    background-color: #eee;
    overflow: hidden;
}

#slidesFolderPathFill {
    visibility: hidden;
    opacity: 0;
}

#slidesFolderPathProgress {
    background-color: gainsboro;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
}

#slidesFolderPath {
    background-color: transparent;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#currentSlidesPage {
    margin-left: 0.5rem;
}

#slidesTotalPages {
    margin-right: 0.5rem;
}

#slides {
    padding: 3.5rem 0.5rem 6.5rem 0.5rem;
    box-sizing: border-box;
    background-image: linear-gradient(white, white, white, #ffffff88);
    background-color: transparent;
}

#slidesBox {
    overflow: auto;
    max-height: 100%;
    background-image: url('../img/transparent.svg');
    background-repeat: repeat;
}

#slidesBrowserBox {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

#slidesBrowser {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.slideBox {
    width: 25%;
    height: 25%;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    position: relative;
    border: 1px solid black;
}

.slideBox.timeout {
    background: url('../img/eye-slash.svg') center no-repeat darkgray;
}

.slideBox.real:hover {
    border: 1px solid dodgerblue;
    outline: 1px solid dodgerblue;
    z-index: 10;
}

.slideBox .check {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2rem;
    width: 2rem;
    background-image: url('../img/check-circle.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.slideBox.active .check {
    display: block;
}

.slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landscape {
    height: 102%;
}

.portrait {
    width: 102%;
}

.currentSlideBack {
    top: unset;
    bottom: 0;
    width: 100%;
    height: unset;
}

.currentSlideView {
    position: absolute;
    bottom: 0.25rem;
    left: 0.5rem;
    height: 4rem;
    top: unset;
    display: block;
    width: unset;
}

#slidesFooter {
    position: absolute;
    bottom: 4.25rem;
    left: 0.5rem;
    color: cadetblue;
    height: 1.5rem;
    top: unset;
}

#slidesFooter::before {
    content: 'Choosing background for ';
    color: burlywood;
}

#slidesFooter.live::after {
    content: ' (Live)';
    color: forestgreen;
}

#live .option {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
}

#live .key {
    font-size: small;
    position: absolute;
    left: .35rem;
    top: 50%;
    transform: translateY(-50%);
    padding: .1em .5em .2em .5em;
    border-radius: .5em;
    background-color: black;
    color: white;
    opacity: .3;
    -webkit-text-stroke: 1px white;
}

#live .alt .key {
    background-color: #ddd;
    color: black;
    -webkit-text-stroke-color: black;
}

#liveBin {
    opacity: 0;
}

#path {
    border-radius: .6rem .6rem 0 0;
    background-color: #999;
    color: white;
    margin-top: .3rem;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

#path:hover, #path:focus {
    opacity: 1;
}

#path:active {
    filter: brightness(0.9);
}

#liveLyrics {
    padding-top: 15.5%;
    position: relative;
    user-select: none;
    border-radius: 0 0 .6rem .6rem;
    overflow: hidden;
}

#liveLyrics iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: #000;
    opacity: 0.75;
}

#liveCoverBtns {
    position: absolute;
    bottom: 0.3rem;
    right: 0.3rem;
}

#textBtns {
    position: absolute;
    top: 0.1rem;
    left: 0.3rem;
}

#styleBtns {
    position: absolute;
    top: 0.1rem;
    right: 0.3rem;
}

#styleBtn {
    background-color: palevioletred;
}

#sizeBtn {
    width: 7rem;
    position: relative;
    overflow: hidden;
}

#sizeBtnBg {
    background-color: royalblue;
    opacity: 0.5;
    display: block;
    height: 100%;
    width: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#sizesBtn {
    background-color: goldenrod;
}

#slideBtn {
    background-color: cadetblue;
}

#slideBtn.active {
    background-color: tomato;
}

#hide {
    position: fixed;
    z-index: -100;
    opacity: 0;
    padding: 0;
    margin: 0;
    height: 0;
    width: 0;
}

#songInfo {
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    left: calc(50vw - 7.5rem);
    top: calc(50vh - 10rem);
}

#songInfo input {
    text-align: left;
}

#songInfo input::placeholder {
    opacity: .3;
}

#controlDelete {
    display: flex;
}

#typeDelete {
    flex-grow: 1;
}

#cancelDelete {
    margin: 0 .3rem;
}

#confirmDelete {
    background-color: #f44336;
}

.close {
    background-image: url('../img/times-circle.svg');
    bottom: 1rem;
    right: calc(50vw - 1rem);
    width: 2rem;
    height: 2rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200,200,200,0.8);
    align-items: stretch;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 calc(50% - 240px);
    z-index: 10000;
    text-align: center;
}

.blurred {
    filter: blur(2px) grayscale(0.5);
    transition: filter 0.5s ease-in;
}

#blurred {
    opacity: 0;
}

.modal input {
    text-align: center;
}

.modal > * {
    margin-bottom: .3rem;
}

.modal > *:last-child {
    margin-bottom: 0;
}

.modal input:read-only {
    background-color: #eee;
    color: #999;
}

.modal > iframe {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    border:2px solid tomato;
    outline:none;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden !important;
}

.none {
    display: none !important;
}

.opaque {
    opacity: 1 !important;
}

.real {
    filter: none !important;
}

.disabled, .disabled:hover {
    cursor: initial !important;
    filter: grayscale(100%) !important;
    opacity: 0.1 !important;
}

.highlight {
    color: #4CAF50;
}

.topKey {
    border-radius: .5rem;
    background-color: white;
    padding: .08rem .34rem;
    margin-right: .25rem;
    color: black;
}

.topKey:first-child {
    margin-left: .25rem;
}

.topKey.alt {
    border-radius: .25rem;
}

.topKey.highlight {
    background-color: #4CAF50;
    color: white;
}

.blackhole {
    position: fixed;
    z-index: -1;
    opacity: 0;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

/* Slide Show CSS */

@keyframes opac{from{opacity:0} to{opacity:1}}

#s-app {
    font-family: "华文中宋", "STZhongSong", "华文宋体", "Microsoft YaHei", "HeiTi", "SongTi", sans-serif;
    line-height: 1.2;
}

#s-debug {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    width: calc(100vw - 1rem);
    background-color: white;
}

#s-backgrounds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#s-backgrounds > * {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#s-lyrics > *, #s-ruler {
    font-size: 6vw;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 0 1vw #000000;
    width: min-content;
    white-space: nowrap;
}

#s-ruler {
    opacity: 0;
    visibility: hidden;
}

#s-backgrounds > *, #s-lyrics > * {
    transition: all 0.5s ease-in;
    opacity: 0;
}

.s-show:last-child {
    opacity: 1 !important;
    animation: opac 0.5s ease-out;
}

.s-draggable {
    -webkit-app-region: drag;
    background-color: black !important;
    cursor: default !important;
}

.s-songInfo {
    top: unset !important;
    bottom: 3.5vw  !important;
    right: unset !important;
    left: 5vw !important;
    text-align: left !important;
    transform: none !important;
    white-space: normal !important;
    width: 90vw !important;
    font-size: 3vw !important;
}

.s-songInfo span {
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
    font-weight: normal !important;
    margin-right: 3vw !important;
    margin-bottom: 2vw !important;
    font-size: 3vw !important;
}

.s-songInfo .title {
    display: block !important;
    font-size: 7vw !important;
    font-weight: 300 !important;
}

.s-songInfo .author::before {
    content: '词、曲：' !important;
}

.s-songInfo .lyricist::before {
    content: '词：' !important;
}

.s-songInfo .composer::before {
    content: '曲：' !important;
}