body {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #eee;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 8px 0;
}

::-webkit-scrollbar {
    display: none;
}

.control {
    border: none;
    outline: 1px solid #999;
    outline-color: rgba(0,0,0,0);
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
}

input.control {
    outline-offset: 0;
    height: 32px;
    padding: 5px 10px;
}

.container {
    height: calc(49.999% - 4px);
    width: 100%;
    position: relative;
    transition: height ease-in-out 0.3s, margin-bottom ease-in-out 0.3s;
    overflow: hidden;
    border-radius: 10px;
}

.container:first-child {
    margin-bottom: 8px;
}

.container.hide {
    height: 0;
    margin-bottom: 0;
}

.container.hide + .container {
    height: 100%;
}

.container > * {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.selected {
    background-color: #bbb;
    color: white;
}

.focused .selected {
    background-color: #607d8b;
}

.focused {
    box-shadow: 0 0 8px 2px rgba(120,120,120,0.5);
    outline: none;
}

.option {
    user-select: none;
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: none;
}

.option.result {
    display: block;
}

.song .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-weight: 700;
}

.song .lyrics {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    color: #777;
    font-size: 80%;
}

.selected .lyrics {
    color: white;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.button {
    user-select: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, background-color 0.1s ease-in-out;
    border-radius: 16.5px;
    padding: 5px 15px;
    height: 33px;
    background-color: #999;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    opacity: 0.5;
}

.button:hover {
    opacity: 1;
}

.button:active {
    background-color: #777;
}

#menu {
    position: relative;
    padding: 0 8px;
    white-space: nowrap;
}

#menu > * {
    position: relative;
    top: 2px;
}

#search {
    top: 0;
    width: 312px;
}

#search:disabled {
    background-color: #f8f8f8;
}

#clear {
    position: absolute;
    left: 296px;
    top: 10.5px;
    width: 16.5px;
    height: 16.5px;
    padding: 0;
    background-image: url('../img/times-circle.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(0,0,0,0);
}

#search:placeholder-shown + #clear {
    visibility: hidden;
}

#reload {
    margin-left: 2px;
}

#hideUp.active {
    background-color: tomato;
}

#send {
    display: inline-block;
}

#sendBtn.success {
    background-color: #4CAF50;
}

#sendBtn::after {
    position: absolute;
    right: 5px;
    top: 3px;
    content: '\2713';
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: x-large;
}

#sendBtn.success::after {
    opacity: 1;
}

#plURL {
    position: absolute;
    z-index: 1000;
    top: 40px;
    left: 0;
    box-shadow: 0 0 8px 2px rgba(120,120,120,0.5);
}

#clock {
    top: unset;
    user-select: none;
    position: absolute;
    right: 18px;
    font-size: xx-large;
    top: -7px;
    color: #777;
}

#main {
    flex-grow: 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

#main > * {
    padding: 8px;
}

#control {
    width: 320px;
    padding-right: 0;
}

#control, #view {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
} 

#loading, #notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    font-size: xx-large;
    font-weight: 700;
    user-select: none;
    text-align: center;
    z-index: 2;
}

#songlist, #playlist, #live {
    overflow-y: auto;
    overflow-x: hidden;
}

#playlist .filter {
    padding: 0;
}

#delete {
    top: unset;
    left: 135px;
    width: 50px;
    height: 50px;
    bottom: 8px;
    opacity: 0;
    z-index: -100;
    background-image: url('../img/trash-alt.svg');
    background-size: auto 80%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
}

#delete.show {
    z-index: 100;
    opacity: 0.5;
}

#playlist .playing {
    background-image: url('../img/play-circle.svg');
    background-position: 105% 50%;
    background-size: auto 150%;
    background-repeat: no-repeat;
}

#playlist .showing .lyrics {
    color: #4CAF50;
}

#bin {
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#view {
    flex-grow: 1;
}

#view > div:first-child {
    flex-grow: 1;
}

#preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 2em;
}

#pTitle {
    font-weight: 700;
    font-size: large;
    margin-bottom: 1em;
}

.focused #live .selected {
    background-color: #4CAF50;
}

#live .option {
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
}

#live .key {
    font-size: small;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    padding: .1em .5em .2em .5em;
    border-radius: .5em;
    background-color: black;
    color: white;
    opacity: .3;
    -webkit-text-stroke: 1px white;
}

#live .alt .key {
    background-color: #ddd;
    color: black;
    -webkit-text-stroke-color: black;
}

#path {
    border-radius: 10px 10px 0 0;
    background-color: #999;
    color: white;
    margin-top: 8px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

#path:hover, #path:focus {
    opacity: 1;
}

#path:active {
    background-color: #777;
}

#liveLyrics {
    padding-top: 15.5%;
    position: relative;
    user-select: none;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

#liveLyrics iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border: none;
    outline: none;
    background-color: #000;
    opacity: 0.75;
}

#hide {
    position: fixed;
    z-index: -999;
    opacity: 0;
    padding: 0;
    margin: 0;
    height: 0;
    width: 0;
}

#login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200,200,200,0.8);
    align-items: stretch;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20%;
    z-index: 99999;
}

#login > * {
    border: none;
    outline: none;
    text-align: center;
    padding: 8px 16px;
    border-radius: 20px;
    margin: 8px;
    font-size: 16px;
    background-color: #eee;
    color: #999;
    height: 40px;
    box-sizing: border-box;
    font-weight: 300;
    font-family: SourceHanSans;
}

#login > input {
    color: #333;
    background-color: white;
    text-overflow: ellipsis;
    overflow: hidden;
}

#login > input:read-only {
    background-color: #eee;
    color: #999;
}

.hidden {
    visibility: hidden !important;
}

.none {
    display: none !important;
}

.opaque {
    opacity: 1 !important;
}
