@font-face {
    font-family: SourceHanSans;
    src: url(SourceHanSans-Regular.ttc);
}

body {
    font-family: SourceHanSans;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}

label {
    font-variant: small-caps;
    user-select: none;
}

option {
    text-align: center;
    user-select: none;
    position: relative;
}

option.comment {
    color: lightgray;
    font-size: 150%;
}

#forshowleft {
    position: fixed;
    bottom: 5px;
    right: 10px;
    z-index: 10;
    background-color: gray;
    color: white;
    border-radius: 2px;
    width: 150px;
    max-width: calc(100% - 20px);
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
#showleft {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: none;
}
#left {display: none; width: 49.999%;}
#right {width: 100%;}
#forinput, #foroutput {display: none;}
#path {display: none;}
#forshowleft .show {display: inline;}
#forshowleft .hide {display: none;}
#showleft:checked ~ #forshowleft {background-color: lightgreen;}
#showleft:checked ~ #forshowleft .show {display: none;}
#showleft:checked ~ #forshowleft .hide {display: inline;}
#showleft:checked ~  #main > #left {display: flex;}
#showleft:checked ~  #main > #right {width: 49.999%;}

#showleft:checked ~ #path {display: inline;}

#main {
    position: fixed;
    top: 5px;
    left: 0;
    height: calc(100% - 37px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#right {
    display: flex;
    position: relative;
}
#left, #right {
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#forinput, #foroutput {
    width: calc(100% - 20px);
    flex-grow: 0;
    text-align: center;
}

#input, #output {
    resize: none;
    width: calc(100% - 20px);
    flex-grow: 1;
}

#path {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
}

#path, #path:focus {
    border: none;
    outline: none;
}

option:before {
    color: #2196F3;
    position: absolute;
    left: 5px;
    font-weight: bold;
    font-family: monospace;
    font-size: 150%;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
}

.Q:before {
    content: 'Q';
}

.W:before {
    content: 'W';
}

.E:before {
    content: 'E';
}

.R:before {
    content: 'R';
}

.T:before {
    content: 'T';
}

.Y:before {
    content: 'Y';
}

.U:before {
    content: 'U';
}

.I:before {
    content: 'I';
}

.O:before {
    content: 'O';
}

.A:before {
    content: 'A';
}

.S:before {
    content: 'S';
}

.D:before {
    content: 'D';
}

.F:before {
    content: 'F';
}

.G:before {
    content: 'G';
}

.H:before {
    content: 'H';
}

.J:before {
    content: 'J';
}

.K:before {
    content: 'K';
}

.L:before {
    content: 'L';
}

.SPACE:before {
    font-size: 80%;
    content: 'SPACE';
}