@font-face {
    font-family: SourceHanSans;
    src: url(SourceHanSans-Regular.ttc);
}

body {
    font-family: SourceHanSans;
    font-style: normal;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

body {padding: 8px 0;}
#reload {width: 16px; margin: 0 8px;}
#search {width: 285px;}
input.control {padding: 5px;}
#main > * {padding: 8px;}
#control {width: 320px; padding-right: 0;}
.container:first-child {margin-bottom: 8px;}
#view {flex-grow: 1;}
#path {margin: 0 8px;}

.control {
    border: none;
    outline: 1px solid #999;
    box-sizing: border-box;
    background-color: white;
}


input.control {
    outline-offset: 0;
    height: 32px;
}

.container {
    height: 49.999%;
    width: 100%;
    position: relative;
}

.container > * {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.selected {
    background-color: #607d8b;
    color: white;
}

.option {
    user-select: none;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.song .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.song .lyrics {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    color: #777;
    font-size: 80%;
}

.selected .lyrics {
    color: white;
}

#reload {
    display: inline-block;
    font-size: 150%;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
}

#reload:hover {
    opacity: 1;
}

#main {
    flex-grow: 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

#control, #view {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
} 

#songlist, #playlist, #live {
    overflow-y: auto;
    overflow-x: hidden;
}

#playlist .filter {
    padding: 0;
}

#delete {
    top: unset;
    left: 135px;
    width: 50px;
    height: 50px;
    bottom: 8px;
    opacity: 0;
    z-index: -100;
    background-image: url('delete.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
}

#bin {
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#pTitle {
    height: 32px;
    font-weight: 700;
    font-size: 120%;
    padding: 0 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#pLyrics {
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    height: calc(100% - 32px);
    box-sizing: border-box;
    padding: 0 16px;
}

#live {
    text-align: center;
    font-weight: 700;
}

#live:hover {
    cursor: alias;
    outline-color: #4CAF50;
    outline-offset: -1px;
    outline-width: 2px;
}

#live .selected {
    background-color: #4CAF50;
}

#login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200,200,200,0.8);
    align-items: center;
    justify-content: center;
    display: none;
}

#password {
    border: none;
    outline: none;
    text-align: center;
    font-size: 200%;
    padding: 8px 16px;
    border-radius: 32px;
}