@font-face {
    font-family: SourceHanSans;
    src: url(SourceHanSans-Regular.ttc);
}

body {
    font-family: SourceHanSans;
    font-style: normal;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

body {padding: 8px 0;}
#reload {width: 16px; margin: 0 8px;}
#search {width: 284px;}
input.control {padding: 5px;}
#main > * {padding: 8px;}
#control {width: 320px; padding-right: 0;}
.container:first-child {margin-bottom: 8px;}
#view {flex-grow: 1;}
#liveLyrics, #path {margin: 0 8px;}

.control {
    border: none;
    outline: 1px solid #999;
    box-sizing: border-box;
    background-color: white;
}


input.control {
    outline-offset: 0;
    height: 32px;
}

.container {
    height: 49.999%;
    width: 100%;
    position: relative;
}

.container.hide {
    display: none;
}

.container.hide + .container {
    height: 100%;
}

.container > * {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.selected {
    background-color: #607d8b;
    color: white;
}

.option {
    user-select: none;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.song .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.song .lyrics {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    color: #777;
    font-size: 80%;
}

.selected .lyrics {
    color: white;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

#menu {
    position: relative;
}

#reload {
    display: inline-block;
    font-size: 150%;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
}

#reload:hover {
    opacity: 1;
}

#search:focus {
    box-shadow: 0 0 8px 2px rgba(120,120,120,0.5);
    outline: none;
}

#clock {
    user-select: none;
    position: absolute;
    right: 8px;
    font-size: xx-large;
}

#main {
    flex-grow: 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

#control, #view {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
} 

#songlist, #playlist, #live {
    overflow-y: auto;
    overflow-x: hidden;
}

#playlist .filter {
    padding: 0;
}

#delete {
    top: unset;
    left: 135px;
    width: 50px;
    height: 50px;
    bottom: 8px;
    opacity: 0;
    z-index: -100;
    background-image: url('delete.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
}

#playlist .playing {
    background-color: #4CAF50;
    color: white;
}

#playlist .playing.selected {
    background-color: #56966E;
}

#playlist .playing .lyrics {
    color: white;
}

#playlist .showing .title::after {
    padding-left: .3rem;
    content: '\25B6';
    color: #4CAF50;
}

#playlist .showing.playing .title::after {
    color: white;
}

#bin {
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#pTitle {
    height: 40px;
    font-weight: 700;
    font-size: 120%;
    padding: 5px 16px 10px 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#pLyrics {
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    height: calc(100% - 40px);
    box-sizing: border-box;
    padding: 0 16px;
}

#live {
    text-align: center;
    font-weight: 700;
}

#live .selected {
    background-color: #4CAF50;
}

#live .option {
    position: relative;
}

#live .key {
    font-size: small;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    padding: .1em .5em .2em .5em;
    border-radius: .5em;
    background-color: black;
    color: white;
    opacity: .3;
}

#liveLyrics {
    height: 16vw;
    position: relative;
    user-select: none;
}

#liveLyrics iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border: none;
    outline: none;
}

#hide {
    position: fixed;
    z-index: -999;
    opacity: 0;
    padding: 0;
    margin: 0;
    height: 0;
    width: 0;
}

#login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200,200,200,0.8);
    align-items: stretch;
    justify-content: center;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20%;
}

#login > * {
    border: none;
    outline: none;
    text-align: center;
    padding: 8px 16px;
    border-radius: 20px;
    margin: 8px;
    font-size: 16px;
    background-color: #eee;
    color: #999;
    height: 40px;
    box-sizing: border-box;
    font-weight: 400;
    font-family: SourceHanSans;
}

#login > input {
    color: #333;
    background-color: white;
    text-overflow: ellipsis;
    overflow: hidden;
}

#login > input:read-only {
    background-color: #eee;
    color: #999;
}